.timersArea {

    .timers {

        .timer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 10px;
            background-color: var(--color-bg-default);

            &:not(:last-child) {
                border-bottom: 1px solid var(--color-border);
            }

            &:first-child {
                border-top: 1px solid var(--color-border);
            }

            &__title {
                width: 100px;
                font-weight: bold;
                margin-bottom: 5px;
                display: none;
            }

            &__title-input {
                margin-bottom: 5px;
                font-weight: bold;
                width: 100%;
                background-color: transparent;
                border: none;
                text-decoration: underline dotted;
                padding: 5px 0;
                cursor: text;

                &:focus {
                    text-decoration: none;
                }
            }

            &__result {
                margin-right: 15px;
            }

            &__button {
                width: 30px;
                height: 30px;
                border-radius: 10em;
                border: none;
                color: var(--color-text-buttons);
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-bg-buttons);
                background-repeat: no-repeat;
                background-position: center center;
                border: 1px solid var(--color-border-buttons);
                margin-right: 10px;
                cursor: pointer;
                transition: 150ms ease-in-out;
                transition-property: background-color, color;

                &:hover {
                    background-color: #424242;
                    color: #f0f0f0;
                }

                &:active {
                    background-color: black;
                    color: white;
                }

                &_playpause {
                    background-image: url(~img/pause.svg);
                    background-size: 12px;

                    &:hover {
                        background-image: url(~img/pause-white.svg);
                    }
                }

                &_playpause-paused {
                    background-image: url(~img/play.svg);
                    background-size: 12px;

                    &:hover {
                        background-image: url(~img/play-white.svg);
                    }
                }

                &_restart {
                    background-image: url(~img/restart.svg);
                    background-size: 12px;

                    &:hover {
                        background-image: url(~img/restart-white.svg);
                    }
                }

                &_remove {
                    background-image: url(~img/remove.svg);
                    background-size: 14px;

                    &:hover {
                        background-image: url(~img/remove-white.svg);
                    }
                }
            }
        }
    }
}