.timersArea {
    .creator {
        padding: 10px;
        display: grid;
        grid-template-areas:
            "title title title title"
            "create export import settings";
        grid-template-columns: 1fr repeat(3, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        &__title {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid var(--color-border);
            font-size: 14px;
            grid-area: title;
        }

        &__button {
            padding: 10px;
            font-size: 13px;
            font-weight: 500;
            padding: 5px 16px;
            background-color: var(--color-bg-buttons);
            background-repeat: no-repeat;
            border: 1px solid var(--color-border-buttons);
            border-radius: 6px;
            color: var(--color-text-buttons);
            transition-property: color, background-color, box-shadow, border-color;
            transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
            transition-duration: 80ms;
            min-height: 29px;

            &:hover {
                cursor: pointer;
                background-color: var(--color-bg-buttons-hover);
            }

            &-with-icon {
                display: inline-grid;
                grid-template-columns: 15px 1fr;
                grid-gap: 5px;
                align-items: center;
                line-height: 1;

                &::before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                }
            }

            &-import,
            &-export,
            &-settings {
                background-position: center center;
                background-size: 15px;
                align-self: stretch;
                justify-self: flex-start;
            }

            &-create {
                grid-area: create;
                align-self: stretch;
                justify-self: flex-start;

                &::before {
                    background-image: url(~img/plus.svg);
                }
            }

            &-import {
                grid-area: import;

                &::before {
                    background-image: url(~img/download.svg);
                }
            }

            &-export {
                grid-area: export;

                &::before {
                    background-image: url(~img/upload.svg);
                }
            }

            &-settings {
                background-image: url(~img/settings.svg);
                grid-area: settings;
                justify-self: flex-end;

                &.creator__button-settings_active {
                    background-image: url(~img/settings-white.svg);
                    background-color: var(--color-accent);
                }
            }
        }

        &__file {
            display: none;
        }
    }
}

@include mobile {
    .timersArea {

        .creator {
            grid-template-columns: 1fr repeat(2, 39px);
            grid-template-areas: 'title create settings';

            &__title {
                margin-bottom: 0;
            }

            &__button {
                justify-self: stretch;
                align-self: stretch;

                &-import,
                &-export {
                    display: none;
                }
            }
        }
    }
}